html {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background: url("../images/apocalypse-2273069_1280.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    margin: 50px auto;
    width: 100%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 5px;
}

img {
    float: left;
    padding: 10px 20px;
    height: 150px;
    object-fit: cover;
    object-position: top;
}

#welcome {
    display: inline-block;
    padding: 30px 0;
    margin-left: 20px;
    font-weight: bold;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
}

label, #selectCategory, #refresh {
    display: inline-block;
    font-size: .7rem;
    margin: 10px 0;
}

label {
    margin-left: 20px;
    width: 155px;
}

#selectCategory {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100px;
    margin-right: 30px;
    border-style: solid;
}

#refresh {
    margin-left: 30px;
    width: 170px;
}

#chuckSays {
    margin: 40px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 50px;
}

footer {
    margin: 20px auto;
    padding: 20px auto;
    font-size: .6rem;
    text-align: center;
}
